// mobile media query - responsive
@media only screen and (max-width: 426px) {

    // GRID STYLE

    div.container {

        display: grid;
        grid-template-areas:  
        "title "
        "img"
        "form";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        margin-left: 5%;
        margin-right: 5%;
        
    }

    // title grid section
    .grid-title {
        grid-area: title;
    }

    // img grid section
    .grid-img {
        grid-area: img;
    }

    // form grid section
    .grid-form {
        grid-area: form;
    }

    // GRID STYLE END

    // BODY STYLE

    body {

        // continer
        div.container {

            // title
            div.grid-title {

                h1 {

                    color: rgba(15, 15, 15, 0.9);
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 300%;
                    text-align: center;
                    margin-top: 5%;

                }
            }

            // form grid
            div.grid-form {

                margin-top: 7.5%;

                // form
                form {

                    display: grid;
                    grid-template-columns: 1fr;

                    overflow: hidden;

                    // heading
                    h2 {

                        color: rgba(10, 10, 10, 0.9);
                        font-family: Arial, Helvetica, sans-serif;
                        text-align: center;
                        font-size: 250%;

                    }

                    // paragraph
                    p {

                        font-family: Arial, Helvetica, sans-serif;
                        color: rgba(17, 17, 17, 0.9);
                        text-align: center;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 110%;

                    }

                    // inputs
                    input {

                        padding: 3%;
                        margin-top: 2%;
                        width: 100%;
                        margin-left: 0;
                        background-color: rgba(14, 13, 13, 0.2);
                        border: none;
                        outline: none;

                    }

                    // styling placeholder 
                    input::placeholder {
                        
                        color : rgba(8, 8, 8, 0.5);

                    }

                    // button
                    button {

                        border: none;
                        outline: none;
                        width: 100%;
                        margin-left: 0;
                        margin-top: 2%;
                        padding: 2%;

                        color: white;
                        background-color: rgba(15, 15, 15, 0.65);

                    }

                    // link styling
                    a {

                        text-align: center;
                        margin-top: 4%;
                        color: rgba(48, 48, 48, .8);
                        width: 64%;
                        margin-left: 20%;
                        font-size: 85%;
                        text-decoration: underline;
                        padding: 1%;
                        text-underline-position: under;

                    }

                }

            }

            // grid image
            div.grid-img {

                width: 100%;
                height: 400px;
                background-color: rgba(48, 48, 48, .2);

            }
        
        }

    }

// BODY STYLE END

}
